<div id="header">
  <div id="title">Recent Github Commit Messages
    <!-- {{#button action="refresh" className="refresh-button"}}<img src="refresh.png"/>{{/button}} -->
  </div>
</div>

<div id="content">
  {{#collection "events" tagName="ul" itemViewTagName="li"}}
    {{#each payload.commits}}
      <div class="commit">
        <div class="message">"{{message}}"</div>
        <div class="author">- {{author.name}}</div>
      </div>
    {{/each}}
  {{/collection}}
</div>
