* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    color: #444444;
    background-color: gray;
}

body {
    max-width: 600px;
    margin: auto;
    background-color: white;
}

#header {
    font-size: 2em;
    background-color: lightblue;
    padding: 16px;
}

li {
    margin: 16px;
    margin-top: 32px;
    list-style-type: none;
}

.message {
    font-family: Courier, monospace;
    padding-bottom: 8px;
}

.author {
    text-align: right;
    font-style: italic;
}
